@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

a {
  text-decoration: none;
}

body {
  background-color: lightgrey;
  font-family: "Playfair Display";
}

h1 {
  font-family: "Montserrat";
} 

h2 {
  font-family: "Montserrat";
}

/* 
h1, h2 {
  font-family: "Montserrat";
}
 */

.stories {
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem; */
  /* grid -> transition -> responsive websites */
}

@media screen and (min-width: 40em) {
	.stories { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; 
  }
}

@media screen and (min-width: 80em) {
	.stories { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem; 
  }
}

@media screen and (min-width: 90em) {
	body { 
    font-size: 1.2em;
  }
}

@media screen and (min-width: 110em) {
	.stories { 
    max-width: 70%;
    margin: auto;
  }
}

.news {
  background-color: white;
  display: inline-block; 
  overflow: hidden; 
  /* to prevent content go outside of the box */
  /* max-width: 30em; - remove size*/
  margin: 1em 0;
  box-shadow: 1px 1px rgba(0, 0, 0, 4);
  /* box-shadow: 1em(lefr, right/ nagative value - left side shadow) 1em(up, down) 0(how blurry it is) rgba(0, 0, 0, 0.5 (ocupacy); */
  border: 0.15em solid black;
  border-radius: 0.5rem;
  text-align: left; 
}

/* .one {
  background-color: aliceblue;
}

.two {
  background-color: antiquewhite;
}

.three {
  background-color: beige;
} */

.news-lead {
  text-align: center;
}
.news-img {
  max-width: 100%;
}

.news-text {
  text-align: left;
  /* padding: 0 1em; */
  padding: 0 1rem;
  /* rem: % of defaul 
      em: % of current font size */
}

.button {
  display: block;
  color: white;
  background-color: white;
  /* width:100%; 
  diplay:block - width no need to be set*/
  text-align: center;
  margin: 1em 0;
  padding: 1em;
  text-transform: uppercase;
  font: 0.8em;
  text-decoration: none;
  border: 1px solid rgb(16, 19, 206);
  box-shadow: 0.25em 0.25em 0 slateblue;
  text-shadow: 1px 1px 0 black;
}

.button:hover {
  background-color: bisque;
  box-shadow: 0.25em 0.25em 0 brown; 
}

/* pagination */
/* grid/ inline-block, flex can be used */
ul {
  list-style: none;
}

/* li {
  display: inline;
} 
Dont use this - too general
*/

.pagination li {
  display: inline-block;
}
/* or give classes to each list item
li class="page" to every items */

.pagination {
  text-align: center;
  font-size: 1rem;
}

.current-page {
  font-weight: 500;
}

.pagination a {
  color: aqua;
}

.current-page a {
  color: blue;
}